@import "plasma-announcement-shared";

.header-plasma {
  color: #222;
}
.header-plasma a, .header-plasma20 a:hover {
  color: #222;
}

.adaptive-frame {
  max-width: 960px;
  //height: 540px;
  position: relative;
  perspective: 1500px;
  margin-top: 5rem;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;

  .adaptive-3d-frame {
    @media (prefers-color-scheme: dark) {
      box-shadow: 2px 2px 14px rgba(0, 0, 0, .9);
    }
    box-shadow: 2px 2px 14px rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .wallpaper {
    width: 100%;
  }
  .adaptive {
    background-color: rgba(255, 255, 255, .7);
    @media (prefers-color-scheme: dark) {
      background-color: rgba(0, 0, 0, .7);
    }
    box-shadow: 0 -8px 10px rgba(0, 0, 0, .2);
    z-index: 3;
  }
  #solid {
    background-color: white;
    @media (prefers-color-scheme: dark) {
      background-color: #1b1e20;
    }
    z-index: 2;
    animation: adaptive 10s infinite;
  }
  .blur {
    z-index: 1;
  }
  @keyframes adaptive {
    from {opacity: 0}
    20% {opacity: 1}
    50% {opacity: 1}
    70% {opacity: 0}
    to {opacity: 0}
  }
  @keyframes move {
    from {transform: translate(15%, -25%);}
    20% {transform: translate(0, -8.5%);}
    50% {transform: translate(0, -8.5%);}
    70% {transform: translate(15%, -25%);}
    to {transform: translate(15%, -25%);}
  }
  #window {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 150%;
    width: 150%;
    @media (prefers-color-scheme: dark) {
      background-color: #2a2e32;
    }
    background-color: #eff0f1;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, .3);
    animation: move 10s infinite;
  }
}


.transparency {
  .adaptive-3d-frame {
    transform: rotateX(20deg) rotateY(20deg);
  }
  .panel {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    height: 13%;
    display: flex;
    align-items: center;
  }
  .adaptive.panel img, .adaptive.panel svg {
    margin-left: 1.5%;
    height: 70%;
  }
}
.menu {
  .adaptive-3d-frame {
    transform: rotateX(-15deg) rotateY(15deg);
  }
  .panel {
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 13%;
  }
  .nav-panel {
    background-color: rgba(255, 255, 255, .7);
    @media (prefers-color-scheme: dark) {
      background-color: rgba(0, 0, 0, .7);
    }
    box-shadow: 0 8px 10px rgba(0, 0, 0, .2);
    z-index: 3;
    display: flex;
    align-items: center;

    svg {
      margin-left: 2%;
      height: 70%;
    }
    p {
      margin: 0 0 0 3%;
      @media (max-width: 1000px) {
        font-size: 80%;
      }
      @media (max-width: 500px) {
        font-size: 60%;
      }
      font-size: 1.5rem;
    }
  }

  .activemenu {
    height: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    padding-left: 10px;
    padding-right: 10px;
    animation: bgactive 10s -4.5s infinite;
  }

  .searchbox {
    position: absolute;
    top: 13%;
    left: 42%;
    @media (max-width: 1000px) {
      left: 37%;
    }
    @media (max-width: 767px) {
      left: 43%;
    }
    width: 40%;
    height: 62%;
    background-color: #fcfcfc;
    @media (prefers-color-scheme: dark) {
      background-color: #232629;
    }
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .35);
    border: 1px solid #aaa;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: searchbox 10s -4.5s infinite;
    display: flex;
    flex-direction: column;
  }

  .textbox {
    border: 1px solid #3490e0;
    border-radius: 4px;
    margin-top: 2%;
    width: 96%;
    display: flex;
    align-items: center;
    background-color: white;
    @media (prefers-color-scheme: dark) {
      background-color: #232629;
    }
    position: relative;
    p {
      margin: 0 0 0 3%;
      font-size: 2.2vh;
      @media (max-width: 1000px) {
        font-size: 0.7rem;
      }
      @media (max-width: 500px) {
        font-size: 0.5rem;
      }
      span {
        animation-name: type;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        opacity: 0;
      }
    }
  }
  hr {
    width: 100%;
    margin-top: 2%;
    border-top: 1px solid #aaa;
    margin-bottom: 1%;
  }
  #t1 {animation-delay: .9s}
  #t2 {animation-delay: 1.8s}
  #t3 {animation-delay: 2.7s}
  #t4 {animation-delay: 3.6s}
  @keyframes type {
    from {opacity: 0;}
    1% {opacity: 1;}
    47% {opacity: 1}
    48% {opacity: 0;}
    to {opacity: 0;}
  }
  .panel-row {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    width: 95%;
    p:last-child {
      margin-left: auto;
      opacity: .5;
    }
    p {
      font-size: 2vh;
      margin: 0 0 0 3%;
      @media (max-width: 1000px) {
        font-size: 0.7rem;
      }
      @media (max-width: 500px) {
        font-size: 0.6rem;
      }
    }
    img, svg {
      height: 2vh;
      @media (max-width: 1000px) {
        font-size: 0.5rem;
      }
    }
  }
  .results-container {
    position: relative;
    flex-grow: 2;
    width: 100%;
  }
  .results {
    top: 0;
    left: 0; right: 0;
    display: flex;
    height: 100%;
    align-items: center;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fcfcfc;
    @media (prefers-color-scheme: dark) {
      background-color: #232629;
    }

    opacity: 0;
    animation-name: results;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  @keyframes results {
    from {opacity: 0}
    1% {opacity: 1}
    30% {opacity: 1}
    31% {opacity: 0}
    to {opacity: 0}
  }
  @keyframes searchbox {
    from {opacity: 1}
    1% {opacity: 0}
    40% {opacity: 0}
    41% {opacity: 1}
    to {opacity: 1}
  }
  @keyframes bgactive {
    from {background-color: rgba(220, 220, 220, .6)}
    1% {background-color: rgba(220, 220, 220, 0)}
    40% {background-color: rgba(220, 220, 220, 0)}
    41% {background-color: rgba(220, 220, 220, .6)}
    to {background-color: rgba(220, 220, 220, .6)}
  }
  #result1 {animation-delay: -0.5s}
  #result2 {animation-delay: 0.9s}
  #result3 {animation-delay: 1.8s}
  #result4 {animation-delay: 2.7s}
  #result5 {animation-delay: 3.6s}
}


.calendar {
  --text-color: black;
  @media (prefers-color-scheme: dark) {
    --text-color: white;
  }
  .adaptive-3d-frame {
    transform: rotateX(20deg) rotateY(-20deg);
  }
  .panel.adaptive {
    box-shadow: none;
  }
  .panel {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img, svg {
      height: 50%;
      margin-right: 1.7%;
    }
  }
  #activeindicator {
      border-top: 3px solid #3daee9;
      height: 93%;
      display: flex;
      align-items: center;
      margin-right: 1.7%;
      justify-content: center;
  }
  #activeindicator svg {
      height: 80% !important;
  }
  #calendar {
      position: absolute;
      right: 0;
      bottom: 7%;
      width: 70%;
      height: 70%;
  }
  #calendar svg, #calendar #layer {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: 6px 0 0 0;
  }
  #calendar #layer {
      box-shadow: -8px -8px 10px rgba(0, 0, 0, .2);
      background-color: rgba(255, 255, 255, .7);
      @media (prefers-color-scheme: dark) {
        background-color: #232629;
      }
  }
  #panelshadow {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 7%;
      width: 30%;
      box-shadow: 0px -8px 10px rgba(0, 0, 0, .2);
  }
  #header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 17%;
      background-color: #e2e4e5;
      @media (prefers-color-scheme: dark) {
        background-color: #31363b;
      }
      border-bottom: 1px solid #ccc;
      border-radius: 6px 0 0 0;
  }
  #rightview {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 83%;
      width: 50.08%;
      overflow: hidden;
  }
  #rightview svg {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
  }
  #activetimespan {
      position: absolute;
      bottom: 0;
      right: 17%;
      height: 3px;
      width: 8%;
      background-color: #3daee9;
      animation: activetimespananimation 10s infinite;
  }
  @keyframes activetimespananimation {
      from {transform: translateX(-285%)}
      31% {transform: translateX(-285%)}
      35% {transform: translateX(-140%)}
      64% {transform: translateX(-140%)}
      68% {transform: translateX(0%)}
      96% {transform: translateX(0%)}
      to {transform: translateX(-285%)}
  }
  @keyframes yearview {
      from {transform: translateX(200%)}
      31% {transform: translateX(200%)}
      35% {transform: translateX(100%)}
      64% {transform: translateX(100%)}
      68% {transform: translateX(0%)}
      96% {transform: translateX(0%)}
      to {transform: translateX(200%)}
  }
  @keyframes monthview {
      from {transform: translateX(100%)}
      31% {transform: translateX(100%)}
      35% {transform: translateX(0%)}
      64% {transform: translateX(0%)}
      68% {transform: translateX(-100%)}
      96% {transform: translateX(-100%)}
      to {transform: translateX(100%)}
  }
  @keyframes dayview {
      from {transform: translateX(0%)}
      31% {transform: translateX(0%)}
      35% {transform: translateX(-100%)}
      64% {transform: translateX(-100%)}
      68% {transform: translateX(-200%)}
      96% {transform: translateX(-200%)}
      to {transform: translateX(0%)}
  }
  #yearview {animation: yearview 10s infinite;}
  #monthview {animation: monthview 10s infinite;}
  #dayview {animation: dayview 10s infinite;}
}
