{{ define "head-import" }}
  <link href="https://cdn.kde.org/breeze-icons/icons.css" />
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
  <script>
window.onload = function() {
  const duration = 15 * 1000;
  const animationEnd = Date.now() + duration;
  const defaults = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 0 };

  function randomInRange(min, max) {
    return Math.random() * (max - min) + min;
  }

  if (window.scrollY > 300) {
    return;
  }
  const interval = setInterval(function() {
    const timeLeft = animationEnd - Date.now();


    const particleCount = 50 * (timeLeft / duration);
    // since particles fall down, start a bit higher than random
        draft: true
    confetti(Object.assign({}, defaults, { particleCount, origin: { x: randomInRange(0.1, 0.3), y: Math.random() - 0.2 } }));
    confetti(Object.assign({}, defaults, { particleCount, origin: { x: randomInRange(0.7, 0.9), y: Math.random() - 0.2 } }));
  }, 250);

  const observer = new IntersectionObserver(function(entries) {
    // isIntersecting is true when element and viewport are overlapping
    // isIntersecting is false when element and viewport don't overlap
    if (entries[0].isIntersecting === true) {
      clearInterval(interval);
    }
  }, {
    threshold: [0]
  });
  observer.observe(document.querySelector("#looks"));
}
  </script>
{{ end }}
{{ define "main" }}
<main class="releaseAnnouncment">
  <div class="text-center py-5 header-plasma" style="background-image: url('/announcements/plasma/5/5.23.0/patak-blur.webp'); background-size: cover;">
    <div class="container">
      <h1 class="h2">{{ .Params.title }}</h1>
      <h2 class="h1">{{ .Params.subtitle }}</h2>
      <p class="h5 mx-auto text-center" style="max-width: 600px">{{ .Params.desc }}</p>
      <p class="text-center">{{ partial "i18n_date.html" . }}</p>
    </div>
    <div class="laptop-with-overlay d-block mt-5 mb-3 mx-auto w-100" style="max-width: 1000px">
      <img class="laptop img-fluid" src="/reusable-assets/laptop.svg" alt="empty laptop with an overlay" width=2000 height=1220>
      <div class="laptop-overlay">
        <picture>
          <img class="img-fluid" src="/announcements/plasma/5/5.22.90/plasma_5.23_beta.png" alt="Plasma" />
        </picture>
      </div>
    </div>
  </div>
  {{ .Content }}
  {{ partial "announcements/plasma_footer.html" . }}
</main>
{{ end }}
